<form [formGroup]="form" (ngSubmit)="submit()" novalidate="">

  <h2>Login as Administrator</h2>

  <div class="form-control">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
  </div>
  <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
    <smal class="validation" *ngIf="form.get('email').errors.required">Enter Email</smal>
    <smal class="validation" *ngIf="form.get('email').errors.email">Enter valid Email</smal>

  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">
  </div>
  <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
    <smal class="validation" *ngIf="form.get('password').errors.required">Enter Password</smal>
    <smal  class="validation" *ngIf="form.get('password').errors.minlength">Password must be at least
      {{form.get('password').errors.minlength.requiredLength}} characters. Now he
      {{form.get('password').errors.minlength.actualLength}}
    </smal>

  </div>

  <button  type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted " >Logon</button>

</form>
